:root{
    --primary-color:  rgb(252,176,75);
    --primary-color-dark: rgb(232, 134, 6);
    --primary-color-faded: rgb(251, 210, 155);
    --secondary-color: whitesmoke;
    --tertiary-color: rgb(34,28,53);
}


body {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Manjari', sans-serif;
}

.top-header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    border-radius: 0rem 0rem 1rem 1rem;
    position: fixed;
    width: 100%;
    z-index: 6;
}

.top-header > img {
    padding: 1rem 1rem 1rem 3rem;
} 

#search-bar {
    position: relative;
    display: flex;
    min-width: 30rem;
}

.search-icon {
    position: absolute;
    width: 1rem;
    align-self: center;
    padding: 0.5rem;
}

#search-bar > input {
    border: 1px solid grey;
    border-radius: 2rem;
    height: 2.5rem;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}

#navbar {
   margin-right: 5rem;
}

#navbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    float: left;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

#navbar li a {
    display: block;
    color: var(--tertiary-color);
    border-radius: 1rem;
    text-align: center;
    padding: 0.8rem;
    text-decoration: none;

    background-color: var(--primary-color);
    transition: background-color 0.1s;
}

/* Change the link color on hover */
#navbar li a:hover {
    color: white;
    background-color: var(--tertiary-color);
    border-radius: 1rem;
}

#navbar li a + .fas {
    text-align: center;
    text-decoration: none;
    color: white;

    font-size: 1rem; /* Adjust the icon size as needed */
    margin-left: 0.3rem;
}


#navbar li a:hover + .fas{
    color: var(--tertiary-color);
}

main {
    margin-top: 6rem;
}

#introduction > div {
    position: absolute;
    top: 20%;
    right: 5%;
    max-width: 27%;

    backdrop-filter: blur(16px) saturate(130%);
    background-color: rgba(255, 255, 255, 0.40);
    border-radius: 1rem;
    border: 1px solid rgba(93, 105, 121, 0.3);
    box-shadow: 0.1rem 0.1rem 1rem rgba(93, 105, 121, 0.3);

    padding: 2rem;
}

#introduction ul {
    list-style-type: none;
}

#introduction ul li::before {
    content: "\2713";
    font-family: "Font Awesome 5 Free";
    font-size: large;
    color: var(--tertiary-color);
    /* padding: 0 10px 0 0; */

    /* margin-right: 10px; Adjust spacing between the icon and text */
    position: absolute; /* Position the icon absolutely */
    left: 3rem;
}

#introduction ul li + li {
    margin-top: 1rem;
}

#testimonials article {
    background-color: var(--primary-color-faded);
    border-radius: 1rem;
    max-width: 20%;
    padding: 2rem;
    margin: 2rem;
    float: left;
}

#testimonials > article:nth-of-type(3n + 1) {
    clear: left;
}

#testimonials article:hover, #testimonials article:focus{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transform: scale(1.15);
    position: relative;
    z-index: 5;
  }

#testimonials article:hover:nth-of-type(2n) {
    transform:rotate(4deg);
    position:relative;
    top:5px;
  }
#testimonials article:hover:nth-of-type(2n+1){
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
  }

#testimonials .editor {
    display: block;
    font-family: 'Reenie Beanie';
    font-size: 2rem;
}


footer {
    background-color: var(--secondary-color);
    clear: both;
    bottom: 0;
}

#upper-footer {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 10rem;
}

/* #upper-footer > div {
    float: left;
} */

#upper-footer > div > p {
    max-width: 20em;
}

#upper-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#social-media{
    display: flex;
}

#upper-footer li{
    text-align: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-decoration: none;
}

#lower-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
#lower-footer small {
    display: inline-block;
}

#lower-footer li a {
    padding: 14px 16px;
    text-decoration: none;
}

/* Style all font awesome icons */
#social-media .fa {
    padding: 1rem;
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: black;

    width: 1rem;
    height: 1rem;
}
  
/* Add a hover effect if you want */
#social-media .fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    color: white;
}

/* Twitter */
.fa-twitter {
    color: white;
}

.fa-instagram {
    color: white;
}

.highlight {
    background-color: var(--primary-color-faded);
    border-radius: 0.5rem;
    display: inline-block;
    padding: 0.2rem;
}


.ad-card {
    perspective: 1000px;
    width: 300px;
    height: 300px;
    border-radius: 2rem; /*Rounded corners */
    overflow: hidden;
    padding: 0.4rem;
    background-color: var(--primary-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    align-self: center;

    float: left;
    margin: 2rem;
}

.ad-card:nth-of-type(3n+1){
    clear: left;
}

.ad-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.ad-card:hover .ad-card-inner {
    transform: rotateY(180deg);
}

.ad-card-front, .ad-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.ad-card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateY(0deg);
}

.ad-card-back {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
}

.ad-card img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.ad-card h2 {
    font-size: 20px;
    margin-top: 10px;
    position: absolute;
    top: -0.7rem;
    left: 0rem;
    right: 0rem;
    background-color: var(--tertiary-color);
    padding: 0.5rem;
    text-align: center;
    border-radius: 2rem 2rem 0rem 0rem;

    color: white;
}

ul.subcategories {
    list-style-type: none;
    padding: 0;
}

ul.subcategories li {
    margin: 5px 0;
}  
/* Style the articles */
.profile {
    border: 0.2rem solid black;
    border-radius: 1rem;
    padding: 2rem;
    background-color: #f5f5f5;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    margin: 1rem;
    overflow: hidden; /* Clear float within profile */
}

/* Style the images within the articles */
.profile img {
    width: 150px;
    height: 200px;
    border: 0.2rem solid #000;
    border-radius: 1rem;
    float: left; /* Float to the left for two-column layout */
    margin-right: 20px;
}

/* Style the profile details (text) */
.profile-details {
    overflow: hidden; /* Clear float */
}

/* Style the header in each article */
.profile header {
    text-align: left;
    margin-bottom: 1rem;
}

/* Style the h2 element inside the header */
.profile h2 {
    font-size: 1.5rem;
}

/* Style the unordered lists in the profile details */
.profile ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Style the list items in the unordered lists */
.profile ul li {
    margin-bottom: 1rem;
}

/* Style the paragraphs in the articles */
.profile p {
    font-size: 1rem;
}

  form {
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 1rem;
    padding: 1rem;
    width: fit-content;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  fieldset {
    border: 1px solid gainsboro;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
  }
  
  legend {
    font-size: 20px;
    font-weight: bold;
    color: var(--tertiary-color);
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #007bff;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 10px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    box-sizing: border-box;
  }
  
  input[type="text"]:hover,
  input[type="email"]:hover,
  input[type="tel"]:hover,
  select:hover,
  textarea:hover {
    border-color: #007bff;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  select:focus,
  textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }


  button {
    border: 1px solid transparent;
    height: 38px;
    line-height: 38px;
    width: 100px;
    border-radius: 19px;
    cursor: pointer; 
  }

  button[type="submit"] {
    background: var(--primary-color);
    transition: .2s all ease-in-out;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button[type="submit"]:hover {
    background-color: var(--primary-color-dark);
  }

  button[type="reset"] {
    background-color: white;
    border: 1px solid var(--primary-color);
    transition: .2s all ease-in-out;
} 

button[type="reset"]:hover {
    background-color: var(--primary-color-dark);
    border: 1px solid var(--primary-color-dark);
    color: white;
}