:root{
    --primary-color:  rgb(252,176,75);
    --primary-color-dark: rgb(232, 134, 6);
    --primary-color-faded: rgb(251, 210, 155);
    --secondary-color: whitesmoke;
    --tertiary-color: rgb(34,28,53);
}


body {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Manjari', sans-serif;
}

.top-header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    border-radius: 0rem 0rem 1rem 1rem;
    position: fixed;
    width: 100%;
    z-index: 6;
}

.top-header > img {
    padding: 1rem 1rem 1rem 3rem;
} 

#search-bar {
    position: relative;
    display: flex;
    min-width: 30rem;
}

.search-icon {
    position: absolute;
    width: 1rem;
    align-self: center;
    padding: 0.5rem;
}

#search-bar > input {
    border: 1px solid grey;
    border-radius: 2rem;
    height: 2.5rem;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}

#navbar {
   margin-right: 5rem;
}

#navbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    float: left;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

#navbar li a {
    display: block;
    color: var(--tertiary-color);
    border-radius: 1rem;
    text-align: center;
    padding: 0.8rem;
    text-decoration: none;

    background-color: var(--primary-color);
    transition: background-color 0.1s;
}

/* Change the link color on hover */
#navbar li a:hover {
    color: white;
    background-color: var(--tertiary-color);
    border-radius: 1rem;
}

#navbar li a + .fas {
    text-align: center;
    text-decoration: none;
    color: white;

    font-size: 1rem; /* Adjust the icon size as needed */
    margin-left: 0.3rem;
}


#navbar li a:hover + .fas{
    color: var(--tertiary-color);
}

main {
    margin-top: 6rem;
}

#introduction > div {
    position: absolute;
    top: 20%;
    right: 5%;
    max-width: 27%;

    backdrop-filter: blur(16px) saturate(130%);
    background-color: rgba(255, 255, 255, 0.40);
    border-radius: 1rem;
    border: 1px solid rgba(93, 105, 121, 0.3);
    box-shadow: 0.1rem 0.1rem 1rem rgba(93, 105, 121, 0.3);

    padding: 2rem;
}

#introduction ul {
    list-style-type: none;
}

#introduction ul li::before {
    content: "\2713";
    font-family: "Font Awesome 5 Free";
    font-size: large;
    color: var(--tertiary-color);
    /* padding: 0 10px 0 0; */

    /* margin-right: 10px; Adjust spacing between the icon and text */
    position: absolute; /* Position the icon absolutely */
    left: 3rem;
}

#introduction ul li + li {
    margin-top: 1rem;
}

#testimonials article {
    background-color: var(--primary-color-faded);
    border-radius: 1rem;
    max-width: 20%;
    padding: 2rem;
    margin: 2rem;
    float: left;
}

#testimonials > article:nth-of-type(3n + 1) {
    clear: left;
}

#testimonials article:hover, #testimonials article:focus{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transform: scale(1.15);
    position: relative;
    z-index: 5;
  }

#testimonials article:hover:nth-of-type(2n) {
    transform:rotate(4deg);
    position:relative;
    top:5px;
  }
#testimonials article:hover:nth-of-type(2n+1){
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
  }

#testimonials .editor {
    display: block;
    font-family: 'Reenie Beanie';
    font-size: 2rem;
}


footer {
    background-color: var(--secondary-color);
    clear: both;
    bottom: 0;
}

#upper-footer {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 10rem;
}


#upper-footer > div > p {
    max-width: 20em;
}

#upper-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#social-media{
    display: flex;
}

#upper-footer li{
    text-align: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-decoration: none;
}

#lower-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
#lower-footer small {
    display: inline-block;
}

#lower-footer li a {
    padding: 14px 16px;
    text-decoration: none;
}

/* Style all font awesome icons */
#social-media .fa {
    padding: 1rem;
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: black;

    width: 1rem;
    height: 1rem;
}
  
/* Add a hover effect if you want */
#social-media .fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    color: white;
}

/* Twitter */
.fa-twitter {
    color: white;
}

.fa-instagram {
    color: white;
}

.highlight {
    background-color: var(--primary-color-faded);
    border-radius: 0.5rem;
    display: inline-block;
    padding: 0.2rem;
}


.ad-card {
    perspective: 1000px;
    width: 300px;
    height: 300px;
    border-radius: 2rem; /*Rounded corners */
    overflow: hidden;
    padding: 0.4rem;
    background-color: var(--primary-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    align-self: center;

    float: left;
    margin: 2rem;
}

.ad-card:nth-of-type(3n+1){
    clear: left;
}

.ad-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.ad-card:hover .ad-card-inner {
    transform: rotateY(180deg);
}

.ad-card-front, .ad-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.ad-card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateY(0deg);
}

.ad-card-back {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
}

.ad-card img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.ad-card h2 {
    font-size: 20px;
    margin-top: 10px;
    position: absolute;
    top: -0.7rem;
    left: 0rem;
    right: 0rem;
    background-color: var(--tertiary-color);
    padding: 0.5rem;
    text-align: center;
    border-radius: 2rem 2rem 0rem 0rem;

    color: white;
}

ul.subcategories {
    list-style-type: none;
    padding: 0;
}

ul.subcategories li {
    margin: 5px 0;
}  

/* ----------------------------------------------------------------------------------------- */
/* #team {
    float: left;
    background-color: aquamarine;
    border-radius: 1rem;
    width: 25%;
    height: 100vh;
    margin: 3rem;
    align-content: center;
    
    padding: 1rem;
    text-align: justify;
} */

/*Style the articles*/
 .profile {
    border: 0.2rem solid black;
    border-radius: 1rem;
    padding: 2rem;
    background-color: #f5f5f5;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    margin: 1rem;
    overflow: hidden;
    position: relative;
}

 /* .profile {
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 1rem;
    padding: 1rem;
    width: fit-content;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: block;

    margin: 3rem;
} */

/* Style the images within the articles */
.profile img {
    width: 150px;
    height: 200px;
    border: 0.2rem solid #000;
    border-radius: 1rem;
    float: left; /* Float to the left for two-column layout */
    margin-right: 20px;
}

/* Style the profile details (text) */
.profile-details {
    overflow: hidden; /* Clear float */
}

/* Style the header in each article */
.profile header {
    text-align: left;
    margin-bottom: 1rem;
}

/* Style the h2 element inside the header */
.profile h2 {
    font-size: 1.5rem;
}

/* Style the unordered lists in the profile details */
.profile ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Style the list items in the unordered lists */
.profile ul li {
    margin-bottom: 1rem;
}

/* Style the paragraphs in the articles */
.profile p {
    font-size: 1rem;
}

/* ------------------------------------------------------ */

#report_problem {
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 1rem;
    padding: 1rem;
    width: fit-content;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 6rem;
  }
  
 #report_problem fieldset {
    border: 1px solid gainsboro;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
  }
  
  #report_problem legend {
    font-size: 20px;
    font-weight: bold;
    color: var(--tertiary-color);
    border-bottom: 2px solid var(--primary-color-faded);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }
  
  #report_problem label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--primary-color-dark);
  }
  
  #report_problem input, 
  #report_problem select, 
  #report_problem textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 10px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    box-sizing: border-box;
  }
  
  #report_problem input:hover, 
  #report_problem select:hover, 
  #report_problem textarea:hover {
    border-color: var(--primary-color);
  }
  
  #report_problem input:focus, 
  #report_problem select:focus, 
  #report_problem textarea:focus {
    border-color: var(--primary-color-faded);
    outline: none;
    box-shadow: 0 0 5px var(--primary-color);
  }


  #report_problem button {
    border: 1px solid transparent;
    height: 38px;
    line-height: 38px;
    width: 100px;
    border-radius: 19px;
    cursor: pointer; 
  }

  #report_problem button[type="submit"] {
    background: var(--primary-color);
    transition: .2s all ease-in-out;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  #report_problem button[type="submit"]:hover {
    background-color: var(--primary-color-dark);
  }

  #report_problem button[type="reset"] {
    background-color: white;
    border: 1px solid var(--primary-color);
    transition: .2s all ease-in-out;
} 

#report_problem button[type="reset"]:hover {
    background-color: var(--primary-color-dark);
    border: 1px solid var(--primary-color-dark);
    color: white;
}

/* Computers & Motorcycles */
/* .ad-info-price {
    position: absolute;
    top: 5%;
    right: 5%;
}
.big-numbers, .small-numbers {
    font-weight:300;
    font-size: small;
} */

/* .big-numbers.new{
    font-size: 1.2em; /* Adjust the size as needed 
    color: darkgoldenrod;
    font-weight: bold;
}

.small-numbers.new{
    font-size: 0.8em; /* Adjust the size as needed 
    position: relative;
    top: -0.2em; /* Adjust the positioning as needed 
    color: darkgoldenrod;
    font-weight: bold;
} */

.ads-products > .ad-product > div > span {
  display: block;
  word-wrap: break-word;
}

.ad-product {
    border: 1px solid gainsboro;
    border-radius: 1rem;
    padding: 2rem;
    background-color: white;
    margin: 1rem;
    overflow: hidden;
    position: relative;
    transition: 0.2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.ad-product:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.ad-product > header a {
  text-decoration: none;
  color: black;
}

.ad-product > header a:hover {
  color: var(--primary-color-dark);
}

.ad-product img {
    width: 13rem;
    height: 10rem;
    /* border: 0.2rem solid #000; */
    border-radius: 0.5rem;
    float: left; /*Float to the left for two-column layout */
    margin-right: 20px;
}

.ad-info-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: var(--primary-color-dark);
}


.ad-info-price > s{
  font-size: 1rem;
  opacity: 0.6;
  color: black;
  display: block;
}

.ad-info-price sup {
  font-size: 0.5rem;
}

.ads-products > .ad-product .add-cart-button {
  border-radius: 2rem;
  width: fit-content;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  background-color: var(--primary-color);
}

.ads-products > .ad-product .add-cart-button:hover {
  background-color: var(--primary-color-dark);
}

.filters {
    float: left;
    width: 20%; /* Adjust the width as needed */
    padding: 1rem;
    box-sizing: border-box;
}

.ads-products{
    float: left;
    width: 80%; /* Adjust the width as needed */
    padding: 1rem;
    box-sizing: border-box;
}

.vertical-checkboxes {
    display: flex;
    flex-direction: column;
}
/* Style the filter details separation */
.filter-details {
    border-top: 1px solid #E0E0E0;
    margin-top: 10px;
    padding-top: 10px;
}

/* Style the filter details separation */
.filter-details {
    border-top: 1px solid #E0E0E0;
    margin-top: 10px;
    padding-top: 10px;
}

/* Style the price range slider */
.price-range {
    position: relative;
}

.slider {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  #priceSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: darkgoldenrod;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#priceSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: url('../Resources/Images/euro.png') no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 50%;
}

/* Styling for the price labels */
.price-labels {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.min-price-label, .max-price-label {
    width: 45%;
    text-align: center;
    font-weight: bold;
}

/* Style the custom checkboxes */
.custom-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox .checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #007BFF;
    background-color: white;
    border-radius: 3px;
    margin-right: 10px;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: #007BFF;
    border: 2px solid #007BFF;
}

/* Style the custom checkboxes text */
.custom-checkbox span {
    cursor: pointer;
}

/* Additional styling to enhance the look */
.custom-checkbox label {
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

/* Hide the default summary triangle icon */
.filter-details summary::-webkit-details-marker {
    display: none;
}

.history-nav {
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1rem 1rem 0.5rem 1rem;
    margin-top: 6rem;
    border: 2px solid white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
 }
 
 .history-nav > ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     display: flex;
     align-items: center;
 }
 
 .history-nav li {
     float: left;
     align-items: center;
     margin-right: 1rem;
 }
 
 .history-nav li a {
     display: block;
     text-decoration: none;
     color: black;
     opacity: 0.7;
 }
 
 /* Change the link color on hover */
 .history-nav li a:hover {
    color: var(--primary-color-dark);
 }
 
 /* #navbar li a + .fas {
     text-align: center;
     text-decoration: none;
     color: white;
 
     font-size: 1rem; /* Adjust the icon size as needed */
     /* margin-left: 0.3rem;
 } */

  
  /* details summary::before {
    content: "+"; 
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    border-radius: 50%;
    padding: 5px;
    background-color: #ccc;
    width: 1rem;
    height: 1rem;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    
  } */
  .product-header {
    margin: 15rem 0rem 5rem 0rem;
  }

  .product-header > img {
    margin-left: 10%;
    border-radius: 0.5rem;
  }

  .product-header > .ad-details {
    float: right;
    margin-right: 10%;
  }

  .product-header > .ad-details > span{ /*.ads-products > .ad-product span*/
    display: block;
  }

  .ad-details-code {
    opacity: 0.7;
  }

  .ad-details-badges {
    margin: 1rem 0rem;
  }

  .ad-details-badges > * {
    font-weight: bold;
    font-size: small;
    padding: 0.7rem 1rem;
    border-radius: 0.3rem;
    width: fit-content;
  }

  .ad-details-badges > .certified {
    background-color: rgb(194, 234, 194);
    color:  rgb(65, 87, 65);
  }

  .ad-details-badges > .shipping {
    background-color: rgb(190, 221, 245);
    color:  rgb(4, 89, 154);
  }

  .ad-details-price {
    font-size: 3rem;
    text-align: right;
    color: var(--primary-color-dark);
  }

  .ad-details-price > s{
    font-size: 2rem;
    opacity: 0.6;
    color: black;
    display: block;
  }

  .ad-details-price sup {
    font-size: 1rem;
  }

  .fa-caret-down {
    color: rgb(223, 15, 15);
    font-size: 3rem;
  }

.ad-details-views,
.ad-details-watching {
  color: black;
  opacity: 0.6;
}

.product-header .fas, .ads-products .fas {
    margin-right: 0.5rem;
}


  .product-desc{
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    padding: 2rem;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    margin: 2rem;
    clear: both;
  }

  .product-details {
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 2rem;
  }

  /* .product-desc ul {
    list-style-type: none;
  } */

  /* .product-desc li::before {
    content: "\f067"; 
    font-family: "Font Awesome 5 Free";
    margin-right: 1rem;
  } */

  .product-desc > h2, .product-details > h2, .product-specs > h2 {
    border-bottom: 1px solid gainsboro;
  }

  .product-desc .contact-button, .add-cart-button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.8rem 1.6rem;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    display: inline-block;
    margin: 1rem 0rem;
  }

  .product-header .add-cart-button {
    border-radius: 2rem;
    width: 100%
  }

  .product-desc .fa-shopping-cart {
    margin-right: 0.5rem
  }

  .product-desc .contact-button {
    border-radius: 10rem;
  }

  .product-desc .contact-button a {
    text-decoration: none;
    color: white;
  }

  .product-desc .contact-button:hover, .product-header.add-cart-button:hover {
    background-color: var(--primary-color-dark);
  }

  .product-desc .contact-button:hover {
    transform: scale(1.1);
}

.product-desc .add-favorite-button, .product-header .add-bookmark-button {
    background-color: white;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.2s;
    color: var(--primary-color); /* Icon color */
    display: inline-block;
    margin-left: 1rem;
  }

  .product-desc .add-favorite-button:hover, .product-desc .add-bookmark-button:hover {
    color: white;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transform: scale(1.1);
  }



  .product-specs {
    width: 50%;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 2rem;

}

.spec-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    border-radius: 1rem;
  }
  
  .spec-table th, .spec-table td {
    border-bottom: 1px solid gainsboro;
    padding: 8px;
    text-align: left;
  }
  
  /* Style alternating row colors */
  .spec-table tr:nth-child(even) {
    background-color: var(--secondary-color);
  }
  
  /* Style the summary elements with rounded corners and rounded plus sign */
  .product-specs details > summary {
    background-color: rgba(251, 210, 155, 0.7);
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    border-radius: 1rem 1rem 0rem 0rem;
  }

.product-specs details > summary{
    list-style-type: none;
  }

.product-specs details > summary::before {
    content: "\f067"; /* The Unicode character for the "+" icon in Font Awesome */
    font-family: "Font Awesome 5 Free";
    margin-right: 1rem;
}

.product-specs details[open] > summary::before {
    content: "\f068"; /* The Unicode character for the "-" icon in Font Awesome */
    font-family: "Font Awesome 5 Free";
    margin-right: 1rem;
}

.product-specs details:not([open]) + details > summary {
    border-radius: 0rem;
  }