/* Reset default styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.profile {
    position: relative;
}

.ad-info-price {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
}

.big-numbers {
    font-size: 1.2em; /* Adjust the size as needed */
}

.small-numbers {
    font-size: 0.8em; /* Adjust the size as needed */
    position: relative;
    top: -0.2em; /* Adjust the positioning as needed */
}