/* Define the variables of the color palette */
:root {
  --primary-color: rgb(252, 176, 75);
  --primary-color-dark: rgb(232, 134, 6);
  --primary-color-faded: rgb(251, 210, 155);
  --secondary-color: whitesmoke;
  --tertiary-color: rgb(34, 28, 53);
}

/*------------------------General settings------------------------*/
html{
  scroll-behavior: smooth;
}

/* Set the color of the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

/* Set the color of the scrollbar track (the background) */
::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

/* Set the width of the scrollbar track */
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Make specific words and phrases appear as highlighted, using another color and rounded border */
.highlight {
  background-color: var(--primary-color-faded);
  border-radius: 0.5rem;
  display: inline-block;
  padding: 0.2rem;
}

/* Specify a text selection color */
::-moz-selection {
  /* Code for Firefox*/
  background-color: #d8d8d8;
  /* Muted background color for selected text */
}

::selection {
  background-color: #d8d8d8;
  /* Muted background color for selected text */
}

/* Set a common accent color for all checkbox and range input elements on the website */
input[type="checkbox"],
input[type="range"] {
  accent-color: var(--primary-color);
}

/* Set the font family for the text of the body in every page */
body {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: 'Manjari', sans-serif;
}

/* Set the background color of the header and organize the layout of its content. Last add rounded borders to the bottom of the header */
.top-header {
  display: flex;
  flex-flow: column wrap;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  position: fixed;
  width: 100%;
  z-index: 6;
}

.upper-header {
  background-color: var(--primary-color);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 0rem 0rem 1rem 1rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.lower-header {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

/* Set the padding of the logo image */
.upper-header>img {
  padding: 1rem 1rem 1rem 3rem;
}

/* Set the settings of the layout, width and position of search bar */
#search-bar {
  position: relative;
  display: flex;
  flex: 0 1 30rem;
  min-width: 17.3rem;
}

/* Set the layout, padding, position and width of the search icon inside the search bar */
.search-icon {
  position: absolute;
  width: 1rem;
  align-self: center;
  padding: 0.5rem;
}

/* Create the shape for the input search bar, set the color, the shadow and the spacing inside and outside */
#search-bar>input {
  border: 1px solid gainsboro;
  border-radius: 2rem;
  height: 2.5rem;
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 2rem;
  outline: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

/* Remove default unordered list style settings (bullets) for the navigation bar */
#navbar>ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Display the list item elements of the navigation bar horizontally and next to each other,
set a right margin to add a slight space between them and center the items vertically */
#navbar li {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

/* Customize and decorate the links in the navigation bar */
#navbar li a {
  display: block;
  color: var(--tertiary-color);
  border-radius: 1rem;
  text-align: center;
  padding: 0.8rem;
  text-decoration: none;

  background-color: var(--primary-color);
  transition: background-color 0.1s;
}

/* Change the link color on hover */
#navbar li a:hover {
  color: white;
  background-color: var(--tertiary-color);
  border-radius: 1rem;
}

/* Customize and decorate the icons of the title of the links */
#navbar li a+.fas {
  text-align: center;
  text-decoration: none;
  color: white;

  font-size: 1rem;
  /* Adjust the icon size as needed */
  margin-left: 0.3rem;
}

/* Change the color of the icon in case of hovering on the link */
#navbar li a:hover+.fas {
  color: var(--tertiary-color);
}

/* Styles for the history navigation bar, including its background color, box shadow for a subtle elevation effect, 
padding, margin from the top, border, position as fixed at the top creating a sticky navigation effect, and a high z-index for layering*/
.history-nav {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1rem 1rem 0.5rem 1rem;
  border: 2px solid white;
  width: 100%;
}

/* Styles for the unordered list within the history navigation;
Remove default list styles, set margin and padding to zero and hide any overflow */
.history-nav>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  column-gap: 1rem;
  align-items: center;
}

/* Style the histiry navigation list items to be displayed horizontally with a bit of space between them */
/* .history-nav li {
  margin-right: 1rem;
} */

/* .history-nav li::before {
content: "\f061"; 
font-family: "Font Awesome 5 Free";
} */

/* Styles for the anchor links within list items;
Set them as block elements, remove default text decoration and set their color to black with a slightly reduced opacity */
.history-nav li a {
  display: block;
  text-decoration: none;
  color: black;
  opacity: 0.7;
}

/* Change the anchor link color to a darker shade on hover */
.history-nav li a:hover {
  color: var(--primary-color-dark);
}

/* Set top margin to 8rem for main */
main {
  margin-top: 14rem;
}

/* For the main of the index.html page set a smaller space to have no visible space between 
the image and the header */
main.homepage {
  margin-top: 6rem;
}

/* Customize the coordinates of footer and decorate its color */
footer {
  background-color: var(--secondary-color);
  clear: both;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-top: 2rem;
}

/* Set the horizontal rule width to 100% */
hr {
  width: 100%;
}

/* Set the spaces between the content of the upper footer in the horizontal axis */
#upper-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* Set a limit to the width of the "About Us" section of the upper footer */
#upper-footer>* {
  flex: 0 1 auto;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

#upper-footer :first-child p {
  max-width: 20rem;
}


/* Customize the width and padding of the h2 header of the upper footer and its color */
#upper-footer h2 {
  border-bottom: 3px solid var(--primary-color);
  width: fit-content;
  padding: 0rem 0rem 0.5rem 0rem;
}

/* Remove default unordered list style settings (bullets) for the upper footer */
#upper-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Set the social media (within the upper footer) to be displayed in an horizontal row,
distribute the elements horizontally with equal spacing around them and center them vertically */
#social-media {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

/* Style all font awesome icons within the social media of the footer element */
#social-media .fab {
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  transition: color 0.3s ease-in;
  transition: box-shadow 0.2s ease-in;
  margin: 0.5rem;
}

/* Define the color of the facebook icon on hover */
#social-media .fa-facebook-square:hover {
  background: linear-gradient(45deg, #1877F2, #5f9ced);
}

/* Define the color of the instagram icon on hover */
#social-media .fa-instagram:hover {
  background: linear-gradient(45deg, #F58529, #FEDA77, #DD2A7B, #8134AF);
}

/* Define the color of the twitter icon on hover */
#social-media .fa-twitter:hover {
  background: linear-gradient(45deg, #1DA1F2, #76c9fd);
}

/* Define the color of the linkedin icon on hover */
#social-media .fa-linkedin:hover {
  background: linear-gradient(45deg, #0077B5, #00A0DC);
}

/* Define the color of the spotify icon on hover */
#social-media .fa-spotify:hover {
  background: linear-gradient(45deg, #1DB954, #69d48e);
}

/* Decorate the anchor links of the address element within the upper footer */
#upper-footer address a {
  text-decoration: none;
  color: black;
  transition: color 0.2s ease;
  font-weight: bold;
  font-style: normal;
}

/* Change the color of the anchor links of the address element within the upper footer on hover */
#upper-footer address a:hover {
  color: var(--primary-color-dark);
}

/* Set a padding to each list element of the policy section within the upper footer */
#policy li {
  padding: 0.5rem 0rem 0.5rem 0rem;
}

/* In the policy section within the upper footer, customize the borders to make them circular set the padding and 
the transition in seconds and define the color of the text */
#policy li a {
  text-decoration: none;
  color: black;
  padding: 0.3rem;
  border-radius: 0.2rem;
  transition: 0.1s ease-in;
}

/* Decorate the anchor links of the policy section (within the upper footer) on hover */
#policy li a:hover {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  color: var(--primary-color-dark)
}

/* Center align the lower footer text */
#lower-footer {
  height: 100%;
  text-align: center;
}

/* Remove default anchor link decoration settings for the lower footer, set the text color to
black and add smoothness to the transition */
#lower-footer a {
  text-decoration: none;
  color: black;
  transition: color 0.1s ease-in;
}

/* Set the color of the text after hovering on the anchor link within the lower footer */
#lower-footer a:hover {
  color: var(--primary-color-dark);
}

/* Styles for the content of the floating button;
Set the position of the add-to-cart floating button to fixed and set the bottom and right to suitable 
coordinates; Define the color, width and height of the button and make it circular */
.add-cart-float-button {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

/* Set a darker background color after hovering on the add-card floating button */
.add-cart-float-button:hover {
  background-color: var(--primary-color-dark);
}

/*------------------------Home Page------------------------*/

/* Apply frosted glass effect on introduction text */
#introduction>div {
  position: absolute;
  top: 20%;
  right: 5%;
  max-width: 27%;

  backdrop-filter: blur(16px) saturate(130%);
  background-color: rgba(255, 255, 255, 0.40);
  border-radius: 1rem;
  border: 1px solid rgba(93, 105, 121, 0.3);
  box-shadow: 0.1rem 0.1rem 1rem rgba(93, 105, 121, 0.3);

  padding: 2rem;

  display: flex;
  flex-flow: column nowrap;
}

/* Remove default style (bullets) of the unordered list of Sofari characteristics within introduction */
#introduction ul {
  list-style-type: none;
}

/* Set a check icon as the icon before each list item of the unordered list of Sofari characteristics within introduction */
#introduction ul li::before {
  content: "\2713";
  font-family: "Font Awesome 5 Free";
  font-size: large;
  color: var(--tertiary-color);
  margin-right: 0.2rem;
}

/* Spacing between list items */
#introduction ul li+li {
  margin-top: 1rem;
}

.comments {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

/* Underline the header of the testimonials section using the border */
#testimonials h2 {
  border-bottom: 2px solid var(--primary-color);
  width: fit-content;
}

/* Style article elements within the testimonials section to appear like light-orange cards next to each other */
#testimonials article {
  background-color: var(--primary-color-faded);
  border-radius: 1rem;
  padding: 2rem;
  flex: 0 1 30rem;
  min-width: 15rem;
  margin: 2rem;
}

/* On hover of the article elements within the testimonials section, apply a shadow and scale-up to show an effect */
#testimonials article:hover,
#testimonials article:focus {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transform: scale(1.10);
  position: relative;
  z-index: 5;
}

/* Apply a movement (slight counterclockwise rotation and upward shift) for even-numbered articles on hover */
#testimonials article:hover:nth-of-type(2n) {
  transform: rotate(3deg);
  position: relative;
  top: 0.6rem;
}

/* Apply a different movement (slight clockwise rotation and downward shift) for odd-numbered articles on hover */
#testimonials article:hover:nth-of-type(2n+1) {
  transform: rotate(-2deg);
  position: relative;
  top: -0.6rem;
}

/* Change the font of the editor's name for each article element within the testimonials section; 
make the name appear as handwritten */
#testimonials .editor {
  display: block;
  font-family: 'Reenie Beanie';
  font-size: 2rem;
}

/*------------------------Advertisements Page------------------------*/

.ad-categories {
  /* margin-top: 10rem; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  row-gap: 5rem;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: end;
}

/* Styles for the advertisements categories cards; set dimensions, color and box-shadow; 
set perspective to make the card flip look more realistic */
.ad-card {
  perspective: 60rem;
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
  overflow: hidden;
  padding: 0.4rem;
  background-color: var(--primary-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* Clear float for every third card to create a new row */
/* .ad-card:nth-of-type(3n+1) {
  clear: left;
} */

/* Styles for the inner content of the cards to make the card flip look more realistic 
using a 3D effect and a smooth transformation */
.ad-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

/* Perform the card flip on hover; select the inner content of the card and rotate it around the Y-axis 
by 180 degrees, creating a flip effect */
.ad-card:hover .ad-card-inner {
  transform: rotateY(180deg);
}

/* Common styles for both the front and back faces of the card; hide the back face when not facing the viewer, 
add a border-radius and a box-shadow for a subtle 3D effect */
.ad-card-front,
.ad-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* More specific styles fot the front face of the card;  use flexbox to center the content both vertically 
and horizontally. The rotateY(0deg) ensures that the front face is initially visible */
.ad-card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateY(0deg);
}

/* More specific styles fot the front face of the card;  use flexbox to center the content both vertically 
and horizontally. The rotateY(180deg) ensures that the back face is initially hidden */
.ad-card-back {
  display: flex;
  flex-flow: column nowrap;
  /* align-items: center;
  justify-content: center; */
  transform: rotateY(180deg);
}

/* Set the width and height of the images whithin the advertisements categories cards to 100% and round the corners */
.ad-card img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

/* Set the font size, margin, position, background color, padding, and border-radius to create a styled heading 
at the top of the back face of the card using a different background color */
.ad-card h2 {
  font-size: 1.4rem;
  margin: 0;
  /* margin-top: 0.6rem;
  position: absolute;
  top: -0.7rem;
  left: 0rem;
  right: 0rem; */
  background-color: var(--tertiary-color);
  padding: 0.5rem;
  text-align: center;
  border-radius: 1rem 1rem 0rem 0rem;
  color: white;
}

.ad-card nav {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 0rem 0rem 1rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

/* Remove the default list styling and padding for the subcategories unordered lists (at the back face of the cards) */
ul.subcategories {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
}

/* Styles for anchor links within list items; Remove the default text decoration and set the text color to black */
ul.subcategories li a {
  text-decoration: none;
  color: black;
}

/* Styles for anchor links within list items when hovered over; Change the text color to a darker shade */
ul.subcategories li a:hover {
  color: var(--primary-color-dark);
}


/*------------------------About Us Page------------------------*/

/* Set the layout for the team members so that will be in the same row, align in the center along with their content */
.members {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

/* Styles for the profiles of the team members; Set their position to relative to affect position settings 
of the elements that are descendants; Set width and height, make corners rounded, set margins, hide any overflow
and display the profiles next to each other (using left float) */
.profile {
  position: relative;
  width: 25rem;
  height: auto;
  overflow: hidden;
  margin: 2rem 2rem 2rem 2rem;
  border-radius: 1rem;
  display: flex;
}

/* Set the width and height of the profile images, apply a horizontal shift to the left (-25px), and add a 
transition effect for a smooth animation */
.profile img {
  width: 25rem;
  height: auto;
  transform: translateX(-25px);
  transition: all 0.20s linear 0s;
}

/* On hover of the profile, reset the horizontal shift of the image to zero, creating a slight movement */
.profile:hover img {
  transform: translateX(0);
}

/* Styles for the profile details within the profile; Set the width, height, and absolute positioning and set a 
background color to apply a semitransparent black mask on the image giving a modern effect */
.profile .profile-details {
  width: 90%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

/* Adjust the bottom position to 1%, giving a slight upward movement on hover */
/* .profile:hover img{
bottom: 1%;
} */

/* Styles for the header within the profile details; Add a border at the top, set the width to 
fit the content (so that the border covers only the content), and position it absolutely close to the top right corner */
.profile-details header {
  border-top: 2px solid white;
  width: fit-content;
  position: absolute;
  right: 2rem;
  top: 2rem;
}

/* Make the name of the team member bold to stand out and transform it to uppercase */
.profile-details h3 {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

/* Set the role of the team member to start on a new line of its own (using block display), adjust the 
bottom margin and color the text white and set the text transformation to capitalize */
.profile-details .role {
  display: block;
  color: white;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

/* Styles for profile description within the profile; Set the width and padding, set a font-size and a color and 
align the description text (justify);
Position the description absolutely to the bottom of its containing element, translate the element vertically by 
100% of its own height, effectively hiding it below its containing element initially;
Set transitions to achieve smooth animations */
.profile-details .description {
  width: 18rem;
  position: absolute;
  bottom: -20px;
  padding: 2rem;
  text-align: justify;
  font-size: 0.9rem;
  color: white;
  transform: translateY(100%);
  transition: all 0.30s ease 0.1s;
}

/* Styles for the profile description within the profile when hovered; 
Reset the vertical translation to zero, revealing the description on hover */
.profile:hover .description {
  transform: translateY(0);
}

/* Styles for anchor links within the profile description within the profile;
Remove the default text decoration and set the text color */
.profile-details .description a {
  text-decoration: none;
  color: var(--primary-color-faded);
}

/* Styles for the social media unordered list of a team member's profile; 
Remove the default list style and position it absolutely to the top right corner, set the width and height and 
a background color, align the social media icons (i.e. text) to the center */
.profile ul.social-media {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 10%;
  height: 100%;
  background: var(--primary-color-faded);
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}

/* Add a margin above and below each list item of the social media of the profile */
.profile ul.social-media li {
  margin: 20px 0;
}

/* Set the text color to white and add padding to the top and bottom of each social media link of the profile */
.profile ul.social-media li a {
  color: white;
  padding: 0.5rem 0rem;
}

/* Remove the default text decoration for the social media links */
.profile ul.social-media li a {
  text-decoration: none;
}


/* ------------------------- Form Page ----------------------------- */

/* Styles for the overall form providing a clean appearance; Set a white background, a subtle border, 
rounded corners, padding inside, a box shadow for a lifted 3D effect, and a margin around the form*/
#report_problem {
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 1rem;
  padding: 1rem;
  width: fit-content;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 6rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

/* Set the layout of the form button so that they will be in the same row */
#report_problem>buttons {
  display: flex;
  flex-flow: row wrap;
}

/* Styles for each fieldset inside the form, to provide visual separation; 
Set a subtle border, rounded corners, the padding and a bottom margin for spacing */
#report_problem fieldset {
  border: 1px solid gainsboro;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
}

/* Make the legend within each fieldset bold, set a larger font and a bottom-border to make it evident and
adjust margins and paddings for spacing*/
#report_problem legend {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--tertiary-color);
  border-bottom: 2px solid var(--primary-color-faded);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

/* Style the labels associated with form elements for better readability;
Display as block elements for proper spacing, with a bottom margin, bold text, and a dark color*/
#report_problem label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--primary-color-dark);
}

/* Consistent styles for form input elements; Set a 100% width, a suitable padding and bottom margin for spacing,
 a subtle border and slight border radius, and adjust the background color and the text color*/
#report_problem input,
#report_problem select,
#report_problem textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid gainsboro;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
  color: #333;
  box-sizing: border-box;
}

/* Disable the ability to resize the textarea so that */
#report_problem textarea {
  resize: none;
}

/* Highlight the border color on hover for better user feedback.*/
#report_problem input:hover,
#report_problem select:hover,
#report_problem textarea:hover {
  border-color: var(--primary-color);
}

/* When input elements are in focus the border color changes, the default outline is removed, and a box shadow 
is added for a focused appearance */
#report_problem input:focus,
#report_problem select:focus,
#report_problem textarea:focus {
  border-color: var(--primary-color-faded);
  outline: none;
  box-shadow: 0 0 5px var(--primary-color);
}

/* Styles for buttons within the form; Set a transparent border, fixed height and width, rounded corners,  and a cursor*/
#report_problem button {
  border: 1px solid transparent;
  height: 2.4rem;
  line-height: 2.4rem;
  width: 6.3rem;
  border-radius: 1.2rem;
  cursor: pointer;
}

/* More specific styles for the submit button within the form;
Set the background color, a smooth transition effect, and white text color */
#report_problem button[type="submit"] {
  background: var(--primary-color);
  color: white;
  transition: .2s all ease-in-out;
}

/* Change the color of the submit button to a dark shade on hover */
#report_problem button[type="submit"]:hover {
  background-color: var(--primary-color-dark);
}

/* More specific styles for the reset button within the form;
Set the background color and a border, as well as a smooth transition effect */
#report_problem button[type="reset"] {
  background-color: white;
  border: 1px solid var(--primary-color);
  transition: .2s all ease-in-out;
}

/* Darken the background color and the border and change the text color, when the reset button 
is hovered, for interactive feedback */
#report_problem button[type="reset"]:hover {
  background-color: var(--primary-color-dark);
  border: 1px solid var(--primary-color-dark);
  color: white;
}

/* ------------------------- Computers & Motorcycles Page  ----------------------------- */

/* Styles for the product advertisements;
Float the advertisements to the left of the filters and define the width, padding and border are included in the width */
.ads-products {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1rem;
  box-sizing: border-box;
}

/* For every span tag within the product advertisement, set the display to block in order to place it in a new row of its own */
.ads-products>.ad-product>div>span {
  display: block;
}

/* Customize the product advertisement with a background color and box shadow, set a padding and a margin and round the corners */
.ad-product {
  display: grid;
  grid-template-areas:
    'productImage productTitle productPrice'
    'productImage productDesc productDesc'
    'productImage productDetails productButton';
  justify-items: start;
  align-items: start;
  column-gap: 1rem;
  grid-template-columns: auto 1fr auto;
  /* Adjust the rows for flexibility *
  flex: 1;
  /* grid-template-columns: 1fr, 3fr, 1fr;
  grid-template-rows: repeat(3, 1fr); */
  border: 1px solid gainsboro;
  border-radius: 1rem;
  padding: 2rem;
  background-color: white;
  overflow: hidden;
  position: relative;
  transition: 0.2s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* Set the box shadow of the product advertisment on hover */
.ad-product:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* Remove the default text decoration of the anchor link to the product page and set the color to black */
.ad-product>header a {
  text-decoration: none;
  color: black;
}

/* Change the color of the link on hover */
.ad-product>header a:hover {
  color: var(--primary-color-dark);
}

/* Set a common size (width and height) for all product images within product advertisements, round the corners 
of the images and float them to left for a two-column layout */
.ad-product img {
  grid-area: productImage;
  align-self: start;
  width: 13rem;
  height: 10rem;
  border-radius: 0.5rem;
}

.ad-product-title {
  align-self: start;
  grid-area: productTitle;
}

.ad-mini-description {
  text-align: start;
  grid-area: productDesc;
}

.ad-details-posted-location {
  grid-area: productDetails;
}

/* Define the position of the price to absolute and place it close to the top right corner of its container and 
set a larger font size and a color to make it evident */
.ad-info-price {
  grid-area: productPrice;
  /* position: absolute; */
  /* top: 2rem;
  right: 2rem; */
  font-size: 2rem;
  color: var(--primary-color-dark);
  justify-self: self-end;
}

.ad-product-title h2 {
  margin: 0;
}

/* Styles for the strikethrough price (previous price);
Set a smaller font size that that of the current price, make it black, reduce the color opacity
and display it as a block */
.ad-info-price>s {
  font-size: 1rem;
  opacity: 0.6;
  color: black;
  display: block;
}

/* Set a smaller font size for the decimal part (superscript) of the previous prices */
.ad-info-price>s>sup {
  font-size: 0.5rem;
}

/* Set a smaller font size for the decimal part (superscript) of the current prices */
.ad-info-price>sup {
  font-size: 1rem;
}

/* Customize the add-to-cart button within the product advertisement, position it absolutely and place 
it close to bottom right corner, round its corners and set a background color */
.ads-products>.ad-product .add-cart-button {
  grid-area: productButton;
  border-radius: 2rem;
  width: fit-content;
  /* position: absolute;
  bottom: 1rem;
  right: 2rem; */
  background-color: var(--primary-color);
  justify-self: self-end;
}

/* On hover, change the color of the add-to-cart button within the product advertisement */
.ads-products>.ad-product .add-cart-button:hover {
  background-color: var(--primary-color-dark);
}

/* Float the filters to the left for two-column layout, set the width to 20%, and add padding a padding */
.filters {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: center;
  width: 20%;
  padding: 1rem;
  box-sizing: border-box;
}

/* Styles for details elements within the filters;
Add padding and a subtle top border for separation and set the cursor to pointer */
.filters>details {
  border-top: 1px solid gainsboro;
  padding: 1rem;
  cursor: pointer;
}

/* Styles for the summary of the details within the filters;
Set the font weight to bold and add padding and margin */
.filters>details>summary {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

/* Remove the default arrow icons of the summary */
.filters summary {
  list-style-type: none;
}

/* Add the Font Awesome down-arrow icon when the filter is closed */
.filters summary::before {
  content: "\f107";
  /* The Unicode character for the down-arrow icon in Font Awesome */
  font-family: "Font Awesome 5 Free";
  margin-right: 1rem;
}

/* Add the Font Awesome up-arrow icon when the filter is open */
.filters>details[open]>summary::before {
  content: "\f106";
  /* The Unicode character for the up-arrow icon in Font Awesome */
  font-family: "Font Awesome 5 Free";
  margin-right: 1rem;
}

/* Set the cursor to pointer when hover on the filters checkboxes and their labels */
.filters input[type="checkbox"],
.filters input[type="checkbox"]+label {
  cursor: pointer;
}

/* Styles for the price range slider */
.price-range {
  position: relative;
}

/* Styles for the min and max price labels as defined by the price range slider;
Add a subtle border for each label, round the corners and add padding */
.price-range>.price-labels>.min-price-label,
.price-range>.price-labels>.max-price-label {
  font-weight: normal;
  border: 1px solid gainsboro;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

/* Define the margin on top of the price labels */
.price-labels {
  margin-top: 1rem;
}

/* Customize the price slider width and height, make the opacity transition smooth and set a background color */
.slider {
  width: 100%;
  height: 0.6rem;
  border-radius: 0.3rem;
  background: gainsboro;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Restore the color opacity of the slider on hover */
.slider:hover {
  opacity: 1;
}

/* Change the cursor to pointer on hover on the thumb of the slider */
.slider::-webkit-slider-thumb {
  cursor: pointer;
}

/* Display the price-labels container as flex and distribute the labels using equal spacing between them  */
.price-labels {
  display: flex;
  justify-content: space-between;
}


/* ------------------------- Specific computer Page  ----------------------------- */

/* Set a top margin for the product header */
.product-header {
  margin: 12rem 0rem 3rem 0rem;
}

/* Set a left margin for the product image in the product header and round its corners */
.product-header>img {
  margin-left: 10%;
  border-radius: 0.5rem;
}

/* Float the advertisement details to the right so that they appear next to the product image 
and set a right margin */
.ad-details {
  float: right;
  margin-right: 10%;
}

/* Set the display of all spans within the advertisement details to block */
.ad-details>span {
  display: block;
}

/* Reduce the color opacity of the advertisement code (within the advertisement 
details part of the advertisement header) */
.ad-details-code {
  opacity: 0.7;
}

/* Set a top and bottom margin for the group of badges (e.g. 'Certified', 'Shipping options' etc.) */
.ad-details-badges {
  margin: 1rem 0rem;
}

/* Styles for all badges within the advertisement details (e.g. 'Certified', 'Shipping options' etc.);
Set the font weight and size, apply a padding and round the corners  */
.ad-details-badges>* {
  font-weight: bold;
  font-size: small;
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;
}

/* Set specific background and font colors (greenish) for the 'Certified' badge */
.ad-details-badges>.certified {
  background-color: rgb(194, 234, 194);
  color: rgb(65, 87, 65);
}

/* Set specific background and font colors (bluish) for the 'Shipping options' badge */
.ad-details-badges>.shipping {
  background-color: rgb(190, 221, 245);
  color: rgb(4, 89, 154);
}

/* Styles for the price in the advertisement details;
 Set a larger font-size, right-align the price, define a color to make it evident and display it as block */
.ad-details-price {
  font-size: 3rem;
  text-align: right;
  color: var(--primary-color-dark);
  display: block;
}

/* Styles for the strikethrough price (previous price);
Set a smaller font size that that of the current price, make it black, reduce the color opacity
and display it as a block */
.ad-details-price>s {
  font-size: 2rem;
  color: black;
  opacity: 0.6;
  display: block;
}

/* Set a smaller font size for the decimal part of the prices (superscript) */
.ad-details-price sup {
  font-size: 1rem;
}

/* Styles for the caret down icon; 
Set a red color to indicate the price drop and enlarge the size of the icon */
.fa-caret-down {
  color: rgb(223, 15, 15);
  font-size: 3rem;
}

/* Set a black color and reduced opacity for the views and watching elements */
.ad-details-views,
.ad-details-watching {
  color: black;
  opacity: 0.6;
}

/* Set a right margin for spacing all the font awesome icons that appear in the
product header (e.g. in computers-5348130689-details page) and in advertisements pages
(e.g. in computers and motorcycles pages)*/
.product-header .fas,
.ads-products .fas {
  margin-right: 0.5rem;
}

/* Styles for the product/advertisement description;
Set a border and rounded corners, set the margin and padding and clear float to create a new row */
.product-desc {
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
  padding: 2rem;
  margin: 2rem;
  clear: both;
}

/* ----------------------- Carousel --------------------- */
.carousel-slider img:target {
  scroll-margin-top: 1rem; /* Reset scroll margin for targeted section */
  scroll-padding-top: 0; /* Reset scroll padding for targeted section */
}


.carousel {
	padding: 2rem;
}

.carousel-slider-wrapper {
	position: relative;
	max-width: 25rem;
	margin: 0 auto;
}

.carousel-slider {
	display: flex;
	/* aspect-ratio: 	702 / 943; */
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.carousel-slider::-webkit-scrollbar {
	display: none;
}

.carousel-slider img {
	flex: 0 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
  width: 20rem;
  height: 30rem;
}

.carousel-slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.carousel-slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.6;
	transition: opacity ease 250ms;
}

.carousel-slider-nav a:hover {
	opacity: 1;
}
/* -------------------------------------------------------- */
/* Styles for the product details;
Set a border, a box shadow and rounded corners and set the margin and padding */
.product-details {
  border: 1px solid gainsboro;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 2rem;
}

/* Remove the default text decoration for the anchor links within product details section 
and specify another text color */
.product-details p a {
  text-decoration: none;
  color: #1d8bf2;
}

/* Change the color to a lighter one for already visited links */
.product-details p a:visited {
  color: #62adf3
}

/* Change the color on hover */
.product-details p a:hover {
  color: var(--primary-color-dark);
}

/* Add a padding and a bottom border to show some movement for active links */
.product-details p a:active {
  padding: 0rem 0.2rem;
  border-bottom: 2px solid var(--primary-color-dark);
}

/* Remove the default text decoration for the abbreviations within product details section */
.product-details abbr {
  text-decoration: none;
}

/* Add a bottom border to h2 headings in the product description, product details, and specifications 
sections for a visual separation */
.product-desc>h2,
.product-details>h2,
.product-specs>h2 {
  border-bottom: 1px solid gainsboro;
}

/* Common styles for contact button in the product description section and add-to-cart buttons;
Set a color background, padding and margin, no border, and a smooth transformation effect */
.product-desc .contact-button,
.add-favorite-button {
  background-color: var(--primary-color);
  color: white;
  padding: 0.8rem 1.6rem;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
  display: inline-block;
  margin: 1rem 0rem;
}

/* More specific styles to the add-to-cart button in the product header, such as border-radius 
and a full width */
.product-header .add-cart-button {
  border-radius: 2rem;
  width: 100%
}

/* Add space to the right of the shopping cart icon for proper alignment */
.product-desc .fa-shopping-cart {
  margin-right: 0.5rem
}

/* Set rounded corners for the contact button within the product description */
.product-desc .contact-button {
  border-radius: 10rem;
}

/* Remove the default text decoration of the anchor link within the contact button */
.product-desc .contact-button a {
  text-decoration: none;
  color: white;
}

/* Set the hover effect for both the contact button in the product description and the 
add-to-cart button in the product header, darkening the background color */
.product-desc .contact-button:hover,
.product-header .add-cart-button:hover {
  background-color: var(--primary-color-dark);
}

/* Add a scale transformation on hover specifically for the contact button in the product 
description, giving it a slight zoom effect */
.product-desc .contact-button:hover {
  transform: scale(1.1);
}

/* Styles for the add-to-favorite button in the product description;
Set a circular shape, white background, an icon color and a border and transition properties 
for a smooth transformation effect */
.product-desc .add-favorite-button {
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.2s;
  color: var(--primary-color);
  /* Icon color */
  display: inline-block;
  margin-left: 1rem;
}

/* Set the hover effect for the add-to-favorite button, changing its color to white, background color
to a darker shade of the primary color, and applying a scale transformation for a zoom effect */
.product-desc .add-favorite-button:hover {
  color: white;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transform: scale(1.1);
}

/* Styles for the container of the product specifications;
Set the width, define a border with a light color and round the corners, set a margin and a padding 
and apply a box shadow */
.product-specs {
  width: 50%;
  border: 1px solid gainsboro;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 2rem;
}

/* Styles for the product specifications table;
Collapse the borders and round the corners, set the width to 100% and define a bottom margin */
.spec-table {
  border-collapse: collapse;
  border-radius: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

/* Set a fixed width for the second column of the product specifications table, for alignment purposes */
.spec-table td:nth-child(2) {
  width: 30%;
}

/* Styles for both table header (th) and table data cells (td) in the product specifications table;
Set a solid line at the bottom to separate rows, add a padding around the content inside cells
and align the content to the left */
.spec-table th,
.spec-table td {
  border-bottom: 1px solid gainsboro;
  padding: 0.5rem;
  text-align: left;
}

/* Style alternating row colors for the product specifications table*/
.spec-table tr:nth-child(even) {
  background-color: var(--secondary-color);
}

/* Style the summary elements within the product specifications with a background color, 
rounded top corners (top left and top right corners), make the text bold, apply a padding and 
define the cursor to be a pointer */
.product-specs details>summary {
  background-color: rgba(251, 210, 155, 0.7);
  padding: 0.6rem;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  border-radius: 1rem 1rem 0rem 0rem;
}

/* Remove the default list-style for the summary element within the product specifications, ensuring 
it doesn't display a bullet point */
.product-specs details>summary {
  list-style-type: none;
}

/* Add a Font Awesome icon (plus sign) before the content of the summary element and set a right margin for spacing */
.product-specs details>summary::before {
  content: "\f067";
  /* The Unicode character for the "+" icon in Font Awesome */
  font-family: "Font Awesome 5 Free";
  margin-right: 1rem;
}

/* Change the icon to a minus sign when the details are open */
.product-specs details[open]>summary::before {
  content: "\f068";
  /* The Unicode character for the "-" icon in Font Awesome */
  font-family: "Font Awesome 5 Free";
}

/* Remove border-radius when the details are closed and there is a sibling details element to
ensure a smooth transition in border-radius when switching between open and closed states of details */
.product-specs details:not([open])+details>summary {
  border-radius: 0rem;
}
